.stakenmsColor1{
    background-color: #000000;
    /* height: 130vh; */
  }
  .text1 {
    color: darkgray;
    margin-left: 40px;
    text-decoration: none;
  }
  .text {
    color: darkgray;
    margin-left: -10px;
  }
  .text1:hover {
    color: rgb(255, 255, 255);
  }
  .icons {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
  }
  .dropbtn {
    background-color: rgb(108, 117, 125);
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: right;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    top: 44px;
    left: -20px;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: rgba(144, 141, 141, 0.52);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdownmenu {
    display: flex;
    flex-direction: row;
    justify-content: end;
    /* margin-left: 300px; */
  }
  .linkid {
    text-decoration: none;
    color: white;
  }
  .linkid:hover {
    color: rgb(199, 192, 192);
  }
  .topconnectbtn{
    margin-left: 45rem;
  }


  .staking-btn {
    background-color: transparent !important;
    opacity: 1;
    border-radius: 8px;
    font-weight: 600;
    font-size: 15px;
    line-height: 132%;
    color: #ffffff !important;
    box-shadow: none !important;
    outline: none;
    margin-top: 40px;
}

.staking-btn_active {
    background-color: #FFFFFF !important;
    opacity: 1;
    border-radius: 0px 100px 100px 0px !important;
    font-weight: 600;
    font-size: 15px;
    line-height: 132%;
    color: #2B6AD8 !important;
    outline: none;
    box-shadow: none;
    width: 220px !important;
    outline: none;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(39, 38, 38); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(266.77deg, #01DE8E -0.22%, #2B6AD8 99.97%); 
    border-radius: 10px;
  }
  .input-group{
    width: 300px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(266.77deg, #01DE8E -0.22%, #2B6AD8 99.97%); 
  }

  input::-webkit-input-placeholder {
    color: rgba(255, 255, 255) !important;
    opacity: 1;

    
  }
  textarea:focus, input:focus{
    outline: none;
}
  .input-field label {
    color: #fff;
    
  }
  .input-field input[type=text]:focus + label {
    width: 300px;
    color: #fff;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: none;
    border: none;
    
  }
  input:-moz-placeholder {
    color: rgb(255, 255, 255) !important;
    
  }

.btn-Connect{
    background: linear-gradient(92.13deg, #01DE8E -23.46%, #2B6AD8 110.81%);
border-radius: 3px;
color: #fff;
padding-top: 8px;
padding-bottom: 8px;
padding-left: 10px;
padding-right: 10px;
}
.displayshow{
    display: none;
}
.dispalyshowone{
    display: block;
}

  @media(max-width: 1100px){
    .topconnectbtn{
      /* align-self: flex-end; */
      margin-left: 28rem;
      display: flex;
       justify-content: flex-start; 
      align-items: flex-start;
      /* border: 2px solid red; */
      }
  
    }
    @media(max-width: 770px){
      .topconnectbtn{
        /* align-self: flex-end; */
        margin-left: 15em;
        display: flex;
         justify-content: flex-start; 
        align-items: flex-start;
        /* border: 2px solid red; */
        }
        .displayshow{
            display: block;
        }
        .dispalyshowone{
            display: none;
        }
    }
  /* .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  } */
  @media (max-width: 600px) {
    .text {
      color: darkgray;
      margin-left: 70px;
    }
    .text1 {
      color: darkgray;
      margin-left: 70px;
    }
    .topconnectbtn{
      /* align-self: flex-end; */
      margin-left: 0rem;
      display: flex;
       justify-content: flex-start; 
      align-items: flex-start;
      /* border: 2px solid red; */
      }
      /* .navbottom{
        margin-top: 300px;
      } */
  }
  